# Environnement
.env
.env.local

# Vendor
/vendor/

# Logs
/storage/logs/*.log
!/storage/logs/.gitkeep

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

# Uploads & Orders
/storage/orders/*
!/storage/orders/.gitkeep

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Temporaires
*.tmp
*.temp
*.swp
*.swo
*~