# Environnement
.env
.env.local
.env.prod
.env.dev

# Microsoft Entra
/config/microsoft.php

# Vendor
/vendor/
/node_modules/
# Logs
/storage/logs/*.log
!/storage/logs/.gitkeep

# Cache
/storage/cache/*
!/storage/cache/.gitkeep

# Uploads & Orders
/storage/orders/*
!/storage/orders/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Temporaires
*.tmp
*.temp
*.swp
*.swo
*~